[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[dev-packages]

pytest = "*"
pre-commit = "*"
pytest-cov = "*"
pygments = "*"
ipdb = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"


[packages]

"boto3" = "*"
click = "*"
jmespath = "*"
